/* You can add global styles to this file, and also import other style files */
/* Reset */
@use './styles/reset';
@use './styles/variables';
@use './styles/mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #09090B;
    color: #F5F5F5;
    font-family: Inter, sans-serif;
}

/* Colors */

:root {

    --bg: #09090B;
    --surface: #18181B;

    --silver: #C0C0C0;
    --platinum: #E7E5E4;

    --text: #FAFAFA;
    --muted: #A1A1AA;

    --radius: 18px;

}