:root {

    /* Colors */

    --background: #09090B;

    --surface: #121216;
    --surface-light: #1C1C22;

    --border: rgba(255,255,255,.08);

    --text: #FAFAFA;
    --muted: #A1A1AA;

    --silver: #D4D4D8;
    --platinum: #F4F4F5;

    --success: #22C55E;

    --radius: 20px;

}