<section class="top-songs-card">
  <div class="section-header">
    <div>
      <span>Popular right now</span>
      <h3>Top Songs</h3>
    </div>

    <button>View all</button>
  </div>

  @if (loading()) {

    <p class="state">Loading songs...</p>

  } @else {

    <div class="song-list">

      @for (song of tracks(); track song.name; let index = $index) {

        <app-song-card
          [track]="song"
          [index]="index">
        </app-song-card>

      }

    </div>

  }

</section>